section{
    display: flex;
    flex-wrap: wrap;
}

.item-number{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
}

.logo-chain{
    display: flex;
    height: 100px;
    border-radius: 100%;
}
